<div class="container">
  <div class="form-group">
    <%= bootstrap_form_with(model: movie, local: true) do |form| %>
      <% if movie.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

          <ul>
            <% movie.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <%= form.text_field :title, label: 'Título' %>

        <%= form.text_area :description, label: 'Descripción' %>

        <%= form.text_field :category, label: 'Categoría' %>

        <%= form.datetime_select :year, label: 'Año' %>

        <%= form.text_field :trailer, label: 'Link del trailer' %>

        <%= form.text_field :cover, label: 'Link de la portada' %>

        <%= form.number_field :rating, label: 'Calificación' %>

        <%= form.check_box :active, label: 'Mostrar' %>

        <%= form.datetime_select :publish, label: 'Día de proyección' %>

        <%= form.text_field :schedule, label: 'Horarios (Ejemplo: 4:00 P.M, 6:30 P.M)' %>

        <%= form.submit "Guardar" %>
    <% end %>
  </div>
</div>
