<p id="notice"><%= notice %></p>
<div align="center">
<img src=<%=@movie.cover %>>
</div>
  <div class="container">
<p>
  <strong>Título:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @movie.category %>
</p>

<p>
  <strong>Año:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Activa:</strong>
  <%= @movie.active %>
</p>

<p>
  <strong>Publicación:</strong>
  <%= @movie.publish %>
</p>

<p>
  <strong>Horarios:</strong>
  <%= @movie.schedule %>
</p>
    <p align="center">
    <iframe width="560" height="315" src=<%=@movie.trailer%>>
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
</div>
    </div>
<h4 align="center">
  <% if user_signed_in? %>
    <%= link_to 'Editar', edit_movie_path(@movie) %> |
  <% end %>
  <%= link_to 'Atrás', movies_path %>
</h4>
